@import url(index.css);


main {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(42, 69, 100);
  border-radius: 20px;
}
main * {
  border-radius: 20px;
}


/* BASE INFO */
.base_info {
  margin: 4%;
  border: 7px solid rgb(28, 47, 68);
}
.base_info * {
  color: rgb(192, 219, 247);
}
.base_info h1{
  font-size: 160%;
  line-height: 1.8;
  text-align: center;
}
.base_info a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.base_info p {
  font-size: 120%;
  line-height: 1.6;
}


/*LAST*/
.last {
  margin: 4%;
  border: 7px solid rgb(28, 47, 68);
}
.last * {
  color: rgb(192, 219, 247);
}
.last h2 {
  font-size: 160%;
  margin-bottom: 2%;
  margin-top: 1%;
  text-align: center;
  color: rgb(255, 255, 255)
}

/*slider*/
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: calc(33.33% - 20px);
  box-sizing: border-box;
  margin: 0 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 8px; 
  background-color: #223852; 
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word; 
  white-space: normal; 
}
.slide h3 {
  font-size: 140%;
  word-wrap: break-word;
  margin-bottom: 3.5%;
  color: rgb(223, 239, 255);
}
.slide p {
  margin: 5px 0 0;
  font-size: 120%;
  word-wrap: break-word;
}
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  font-size: 150%;
  cursor: pointer;
  z-index: 10;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}



/*RIBBON*/

main.ribbon {
  display: flex;
  color: rgb(192, 219, 247);
}

/* SORT */
.sort {
  flex-basis: 14%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding: 1%;
  border: 2px solid #ccc;
  max-width: 14%;
  word-wrap: break-word;
  height: fit-content;
  background-color: #223852;
}
.sort h1 {
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 20px;
  display: flex; 
  align-items: center; 
  gap: 10px; 
}
.sort h1 input[type="text"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 3px;
  width: 60%; 
}
.sort-options {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort-options label {
  font-size: 16px;
}
.sort-options select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
.tags ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tags label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tags input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #2a4564;
}
.tags p {
  font-size: 16px;
}
.sort-options select option {
  background-color: #2a4564; 
  color: #ccc; 
  padding: 8px; 
}


/*ARTICLES*/
div.articles-blocks {
  flex-basis: 86%;
  margin-left: .5%;
  margin-right: .5%;
  padding-left: 1%;
  padding-right: 1%;
  word-wrap: break-word;
}
div.article-block {
  margin-left: .5%;
  margin-right: .5%;
  margin-bottom: 3%;
  padding: 1.5%;
  word-wrap: break-word;
  border: 2px solid #ccc;
  background-color: #223852;
}
div.article-block .header {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}
div.article-block h1 {
  font-size: 26px;
  border-bottom: 1px solid #ccc;
  max-width: fit-content;
  border-radius: 0;
}
div.article-block a{
  color: rgb(192, 219, 247);
}
div.article-block .date {
  font-size: 16px;
  padding: .5%; 
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
div.article-block pre {
  margin-top: 10px;
  line-height: 2;
  font-size: 16px;
}



/*ARTICLE PAGES*/
/*пОДГОН РАЗМЕРОВ*/
/* .article-main-block {
  display: flex;
  justify-content: center;
} */
div.article-block.article-main {
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 1%;
  margin-bottom: 1%;
  /* width: fit-content;  */
}
div.article-block.article-main * {
  color: rgb(192, 219, 247);
}
div.article-block.article-main h1 {
  font-size: 26px;
}
div.article-block.article-main .author h1 {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 10px;
}
div.article-block.article-main .main-text {
  line-height: 1.4;
  font-size: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
