{% extends "base.html" %}

{% block content %}
  <main class="article-main-block">
    <div class="article-block article-main">
      <div class="info">
        <div class="header">
          <h1 class="title">{{ article.title }}</h1>
          <span class="date">{{ article.created_date }}</span>
        </div>
        <pre class="main-text">
            {{ article.article_text }}
        </pre>
        <!-- Место для автора -->
        <div class="author">
          <h1>
            <a href="author_page.html">{{ article.user.username }}</a>
          </h1>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
