{% extends "base.html" %}

{% block content %}
    <!-- Инфа про ОГТИ -->
    <div class="base_info">
      <span class="OGTI">
        <h1>
          <a href="https://og-ti.ru/">Орский гуманитарно-технологический институт</a>
        </h1>
        <p>
          <br>
          <br>
          Филиал федерального государственного бюджетного образовательного учреждения
          высшего образования "Оренбургский государственный университет"
          <br>
          Орский гуманитарно-технологический институт (филиал) ОГУ является крупнейшим и единственным государственным вузом на востоке Оренбургской области.
          <br>
          <br>
          Институт создан в 1998 году в результате объединения двух вузов, имеющих более, чем полувековую историю: Орского государственного педагогического института им. Т.Г. Шевченко и Орского индустриального института (филиала) ОГУ.
          <br>
          <br>
          На сегодняшний день в вузе обучается более 2000 студентов очной и заочной формы обучения по 12 направлениям подготовки по программам подготовки специалистов среднего звена, программам бакалавриата и магистратуры.
          В 2020 году институт успешно прошёл государственную аккредитацию. По завершении обучения выпускники получают дипломы государственного образца Оренбургского государственного университета.
          <br>
        </p>
      </span>
      <span class="wiki"></span>
    </div>

    <!-- Последние статьи -->
    <div class="last">
      <h2>Последние статьи</h2>
      <div class="slider-container">
        <button class="slider-button prev" onclick="prevSlide()">&#10094;</button>
        <div class="slider">
          <div class="slide">
            <h3>Статья 1</h3>
            <p>Ошибка 404 page not found — это код ответа сервера. Что это значит?

              Когда вы вводите адрес сайта, браузер запрашивает его стартовую страницу у сервера. Если сервер не может найти страницу, он сообщает об этом браузеру с помощью кода 404. Это сообщение отображается на экране пользователя в браузере.

              Почему такое может произойти? Есть несколько возможных причин:

                  1.
                  Вы допустили ошибку при вводе адреса страницы или при открытии файла в браузере. Или браузеру не удалось найти IP-адрес сервера. Сервер не может найти и выдать данные потому, что вы дали ему неправильные «координаты». В таком случае вам достаточно просто исправить ошибку в URL-адресе, и вместо страницы с ошибкой 404 появятся искомые страница/файл.
            </p>
          </div>
          <div class="slide">
            <h3>Статья 2</h3>
            <p>Краткое описание статьи 2.</p>
          </div>
          <div class="slide">
            <h3>Статья 3</h3>
            <p>Краткое описание статьи 3.</p>
          </div>
          <div class="slide">
            <h3>Статья 4</h3>
            <p>Краткое описание статьи 4.</p>
          </div>
          <div class="slide">
            <h3>Статья 5</h3>
            <p>Краткое описание статьи 5.</p>
          </div>
          <div class="slide">
            <h3>Статья 6</h3>
            <p>Краткое описание статьи 6.</p>
          </div>
        </div>
        <button class="slider-button next" onclick="nextSlide()">&#10095;</button>
      </div>
    </div>
    </div>
{% endblock %}