{% extends "base.html" %}

{% block content %}
  <main class="request-main">
    <h1>Запросы на возможность создания статей</h1>

    <ul class="request-list">
      <!-- Пример запроса -->
      {% for request in requests %}
          <li class="request-item">
              <div class="request-info">
                  <p><strong>Автор:</strong> {{ request.username }}</p>
                  <p><strong>Email:</strong> {{ request.email }}</p>
              </div>
              <div class="request-actions">
                  <!-- Форма для подтверждения -->
<!--                  <form action="/admin/approve_request" method="POST">-->
<!--                      <input type="hidden" name="request_id" value="1">-->
<!--                      <button type="submit" class="approve-btn">Подтвердить</button>-->
<!--                  </form>-->
<!--                  &lt;!&ndash; Форма для отклонения &ndash;&gt;-->
<!--                  <form action="/admin/reject_request" method="POST">-->
<!--                      <input type="hidden" name="request_id" value="1">-->
<!--                      <button type="submit" class="reject-btn">Отклонить</button>-->
<!--                  </form>-->
              <form action="{{ url_for('handle_request') }}" method="POST">
                <input type="hidden" name="user_id" value="{{ request.id }}">
                <input type="hidden" name="action" value="approve">
                <button type="submit" class="approve-btn">Подтвердить</button>
              </form>

            <form action="{{ url_for('handle_request') }}" method="POST" style="display:inline;">
                <input type="hidden" name="user_id" value="{{ request.id }}">
                <input type="hidden" name="action" value="reject">
                <button type="submit" class="reject-btn">Отклонить</button>
            </form>
              </div>
          </li>
        {% endfor %}
    </ul>
  </main>
{% endblock %}