{% extends "base.html" %}

{% block content %}
	<main class="ribbon">
		<!-- Сортировка -->
		<div class="sort">
			<!-- Кнопки применения сортировки -->
		     <div class="sort-actions">
		        <button id="apply-sort">🔎</button> <!-- Лупа -->
		        <button id="reset-sort">↻</button> <!-- Закругленная стрелка -->
		    </div>
			<!-- Выпадающий список для сортировки -->
			<div class="sort-options">
				<label for="sort-by">Сортировать по дате:</label>
				<label style="margin-right: 10px;">
			    	<input type="radio" name="arrow" value="up"> ↑ 
				</label>
				<label>
				    <input type="radio" name="arrow" value="down"> ↓
				</label>
			</div>
			<!-- Теги -->
			<h1>#Теги <input type="text" id="tag-search" placeholder="Поиск тегов"></h1>
			<div class="tags">
				<ul id="tags-list">
					<!-- Теги сюда -->
				</ul>
			</div>
		</div>

		 <!-- Статьи -->
        <div class="articles-blocks">
            {% for item in articles %}
                <div class="article-block">
                    <div class="header">
                        <h1 class="title">
                            <a href="/article/{{ item.article.id }}">{{ item.article.title }}</a>
                        </h1>
                        <span class="date">{{ item.article.created_date }}</span>
                    </div>
                    <div class="main-text">{{ item.article.preview }}</div>
                    <div class="tags-list-footer">
                        {% for tag in item.tags %}
                            <p>{{ tag }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
	
	<script>
		// Массив тегов
		const tags = ["A", "B", "C", "D", "F", "G", "GG"];
	    
	
		document.addEventListener('DOMContentLoaded', () => {
			const applySortButton = document.getElementById('apply-sort');
	    	const resetSortButton = document.getElementById('reset-sort');
	    	
	    	// Применение сортировки
		    applySortButton.addEventListener('click', () => {
		        const selectedOrder = document.querySelector('input[name="arrow"]:checked')?.value || 'up';
		        sortArticles(selectedOrder);
		    });

		    // Сброс сортировки
		    resetSortButton.addEventListener('click', () => {
		        articles.sort((a, b) => new Date(a.date) - new Date(b.date)); // Возвращаем к исходному порядку
		        displayArticles(articles);
		    });

		    // Инициализация отображения статей
		    displayArticles(articles);
		});
	</script>
{% endblock %}